@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
 background-color: #e5e5e5;
}

/* ------------------------------------------------------------------
---------------------------- Home tab -------------------------------
--------------------------------------------------------------------- */

.home > .container {
  margin-top: 18px;
  margin-bottom: 18px;
  // border: 2px seagreen solid;
  border-radius: 10px;
  background-color: #ffffff;
}
/* -------------------- Family members ------------------------------ */

.profiles > p {
  font-size: larger;
}

.members {
  display: flex;
  flex-direction: row;
}

.individual-profile {
  text-align: center;
}

.individual-profile > img {
  width: 120px;
}

/* -------------------- Recent Photos ------------------------------ */

.photo {
  width: auto;
  height: 300px;
  max-height: 300px;
  margin: auto;
  display: block;
}

/* -------------------- Recent Events ------------------------------ */

.events {
  padding: 12px;
}
.events > p {
  font-size: larger;
}

.event {
  border: 1px solid black;
  border-radius: 10px;
  max-width: 480px;
  margin: 8px;
}

.event > p {
  text-align: center;
  font-size: large;
  font-weight: 600;
}

